<div class="container">
    <h1>My List</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let list of list;let i = index'>
                <div>
                    <h4 id={{i}} appStrikethrough>{{list.name}}</h4>
                    <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
                </div>

                <div *ngIf='list.showDescription'>
                    <app-list-detail [list]='list' (isComplete)='deleteList($event,i)'></app-list-detail>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-list-form></app-list-form>
        </div>
    </div>

</div>